* {
  padding: 0;
  margin: 0;
  font-family: 'Cuprum', sans-serif;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

nav {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.15rem solid #000;
}

.logo {
  margin-left: 7%;
  font-size: 2rem;
  line-height: 2.25rem;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 7%;
}

.nav-list > li {
  padding: 0 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.nav-list > li:nth-of-type(2) {
  border-left: 0.1rem solid #000;
  border-right: 0.1rem solid #000;
}

#date {
  text-align: end;
  font-size: 1.25rem;
  margin-right: 3%;
}

#list,
#contact {
  display: none;
}

h1,
h2 {
  font-size: 4rem;
  text-align: center;
  margin: 5rem auto;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 5rem auto;
  gap: 2rem;
}

input,
#add-btn {
  border: 0.15rem solid #000;
  font-size: 1.75rem;
  line-height: 2.5rem;
}

input {
  padding: 0.5rem 0.5rem;
  width: 100%;
}

#add-btn {
  padding: 0 0.3rem;
  width: 20%;
}

input::placeholder {
  color: #000;
}

#book-list {
  width: 70%;
  border: 0.15rem solid #000;
  margin: 0 auto;
}

#book-list > li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

#book-list > li:nth-of-type(2n-1) {
  background-color: #ddd;
}

h3 {
  font-size: 2.25rem;
  line-height: 2.75rem;
}

.remove {
  font-size: 2rem;
  line-height: 2.75rem;
  border: 0.15rem solid #000;
  padding: 0 0.5rem;
}

button {
  box-shadow: 3px 3px #000;
  cursor: pointer;
}

.contact {
  width: 70%;
  margin: 3rem auto;
  font-size: 2rem;
  line-height: 2.75rem;
}

.contact > ul {
  margin: 1rem auto;
  list-style: circle;
}

footer {
  bottom: 0;
  margin: 10rem 1rem 1rem;
}
